body {
background-color: #21d6de;
color: white
}
header {
background-color: ##21d6de;
}
img{
  display:block;
  margin: 25px auto;
}
img{
  display:block;
  margin: 25px auto;
  border-radius: 25px;
}
body {
background-color: ##21d6de;
color: white
text-align: center
}
header {
background-color: #21d6de;
  height: 3cm;
}
h1 {
padding: 1cm;
margin: 0;
}
